body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #32CD32, #228B22);
  min-height: 100vh;
}

/* Header styles */
.App-header {
  color: white;
  padding: 1rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.App-header h1 {
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

.logo-link {
  color: white;
  text-decoration: none;
}

.title-button {
  background: none;
  border: none;
  color: inherit;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

/* Log out button in the header */
.logout-button {
  background-color: #e60000;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #ff4d4d;
}

/* Navbar styles */
.navbar {
  display: inline-flex;
  padding: 0.25rem 1rem;
  background: rgba(255, 255, 255, 0.1); /* Slightly transparent background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin-top: 0.5rem; /* Add margin-top to create space between the title and the navbar */
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0 10px;
  font-size: 1.1rem;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.nav-link:hover {
  background: #2193b0;
}

/* Responsive styling */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-link {
    margin: 5px 0;
  }
}