HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignore macOS .DS_Store files
.DS_Store

# Ignore JetBrains IDE configuration files
.idea/

# Optionally, specify particular files to ignore within .idea if you don't want to ignore the entire folder
.idea/dataSources.local.xml
.idea/workspace.xml