.dashboard {
    text-align: center;
    padding: 20px;
    position: relative;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    height: 100vh;
    width: 100%;
}

.dashboard-card {
    background-color: var(--light-gray);
    border: 1px solid var(--light-gray);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.dashboard-card:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.dashboard-card:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.dashboard-card:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.dashboard-card:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}

.chart-description {
    margin-bottom: 10px;
}

.carbon-footprint-summary {
    text-align: center;
}

.carbon-footprint-summary h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.carbon-footprint-summary p {
    margin: 5px 0 0;
    font-size: 1em;
    color: #666;
}